body {
    background-image: url("../img/backg.jpg");
    background-size: 100%;
}

.container {
    align-items: center
}

h2 {
    color: #FFFFFF;
    font-size: 50px;
}

button {
    display: inline-block;
    border-radius: 3px;
    border: none;
    padding: 15px 32px;
    background: #69c773;
    border-bottom: 1px solid #498b50;
    color: white;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    margin: 0 0.25rem;
    text-align: center;
    font-size: 20px;
}

button:active {
    opacity: 1;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}

#btn {
    display: inline-block;
    border-radius: 3px;
    border: none;
    font-size: 0.9rem;
    padding: 0.4rem 0.8em;
    background: #498b50;
    border-bottom: 1px solid #498b50;
    color: white;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    margin: 0 0.25rem;
    text-align: center;
}

input {
    padding: 15px 32px;
    font-size: 20px;
    border-radius: 3px;
}

#styledModal {
    background: #FFF;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding: 1.5em;
    margin: 1em auto;
    border: 0;
    border-top: 5px solid #69c773;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
}

#styledModal::backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

#modal {
    background: #FFF;
    color: red;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding: 1.5em;
    margin: 1em auto;
    border: 0;
    border-top: 5px solid #FF0033;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
}

#modal::backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

#btnM {
    display: inline-block;
    border-radius: 3px;
    border: none;
    font-size: 0.9rem;
    padding: 0.4rem 0.8em;
    background: #CC0000;
    border-bottom: 1px solid #FF0000;
    color: white;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    margin: 0 0.25rem;
    text-align: center;
}